<h2>Contato</h2>
<br>
<%= form_for @message, :class => 'row', :url => contato_path do |form| %>
    <div class="control-group">
      <div class="controls">
        <%= form.label :name, 'Nome' %><br>
        <%= form.text_field :name %>
      </div>

      <div class="controls">
        <%= form.label :email, 'Email' %><br>
        <%= form.text_field :email %>
      </div>

      <div class="controls">
        <%= form.label :subject, 'Assunto' %><br>
        <%= form.text_field :subject %>
      </div>

      <div class="controls">
        <%= form.label :body, 'Mensagem' %><br>
        <%= form.text_area :body %>
      </div>
    </div>
    <br>

    <%= button_tag(type: "submit", class: "btn btn-default") do %>
        Enviar
    <% end %>

<% end %>