<h2><%= @evento.nome %></h2>
<hr/>
<em class="muted">
  <p><%= @evento.subtitulo %></p>
  <p>Data: <%= @evento.data_evento %></p>
</em>
<br/>
<p class="well">
  <% (@evento.descricao_evento || "Nenhuma descrição informada").split("\n").each do |t| %>
      <%= t %><br/>
  <% end %>
</p>

<% galeria_por_evento = Galeria.where_evento_id(@evento.id) %>
<% if galeria_por_evento.size > 0 %>
    <h4>Veja as fotos do evento:</h4>
    <%= helper_galeria_fotos_por_evento(galeria_por_evento) %>
<% end %>

<br/>

<div class="">
  <ul class="pager pagination-lg">

    <% proximo_evento = @evento.proximo_evento %>
    <% anterior_evento = @evento.anterior_evento %>

    <li><%= link_to("Último Evento", @evento.ultimo_evento) if proximo_evento %></li>
    <li><%= link_to("< Próximo Evento", proximo_evento) if proximo_evento %></li>
    <li><%= link_to("Evento Anterior >", anterior_evento) if anterior_evento %></li>
    <li><%= link_to("Primeiro Evento", @evento.primeiro_evento)  if anterior_evento %></li>

  </ul>
</div>

<%= link_to helper_app_btn_title_edit, edit_evento_path(@evento), class: helper_app_btn_icon_edit %> |
<%= link_to helper_app_btn_title_back, eventos_path, class: helper_app_btn_icon_back %>
