<%= simple_form_for(@parceiro) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :nome %>
    <div class="control-group">
      <%= f.label :logo %>
      <div class="controls">
        <%= f.file_field :logo %>
      </div>
    </div>
    <%= f.input :link %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
