<h1>Listagem de Parceiros</h1>

<%= link_to helper_app_btn_title_new, new_parceiro_path, class: helper_app_btn_icon_new %>

<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Logo</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @parceiros.each do |parceiro| %>
  <tr>
    <td><%= parceiro.nome %></td>
    <td><%= parceiro.logo %></td>
    <td><%= parceiro.link %></td>
    <td><%= link_to '', parceiro, class: helper_app_btn_icon_show_row, title: helper_app_btn_title_show %></td>
    <td><%= link_to '', edit_parceiro_path(parceiro),
                    class: helper_app_btn_icon_edit_row, title: helper_app_btn_title_edit %></td>
    <td><%= link_to '', parceiro, method: :delete, data: {confirm: 'Tem certeza?'},
                    class: helper_app_btn_icon_destroy, title: helper_app_btn_title_destroy %></td>
  </tr>
<% end %>
</table>

<br />