<%= simple_form_for(@premio, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.input :resumo %>
    <%= f.input :ativo %>
    <div class="control-group">
      <%= f.label :foto %>
      <div class="controls">
        <%= f.file_field :foto %>
      </div>
    </div>
    <%= f.input :descricao %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-info" %>
  </div>
  <br/>
<% end %>
