<h1>Listagem de Prêmios</h1>

<%= link_to helper_app_btn_title_new, new_premio_path, class: helper_app_btn_icon_new %>
<br/>
<table class="table table-hover table-condensed">
  <thead>
      <tr>
        <th>Titulo</th>
        <th>Resumo</th>
        <th>Ativo</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <% @premios.each do |premio| %>
          <tr>
            <td><%= premio.titulo %></td>
            <td><%= premio.resumo %></td>
            <td><%= premio.ativo %></td>
            <td><%= link_to '', premio, class: helper_app_btn_icon_show_row, title: helper_app_btn_title_show %></td>
            <td><%= link_to '', edit_premio_path(premio), class: helper_app_btn_icon_edit_row,
                            title: helper_app_btn_title_edit %></td>
            <td><%= link_to '', premio, method: :delete, data: {confirm: 'Are you sure?'},
                            class: helper_app_btn_icon_destroy, title: helper_app_btn_title_destroy %></td>
          </tr>
      <% end %>
  </tbody>


</table>