<div class="container">
  <div class="row clearfix">
    <div class="col-md-10 column">
      <ul class="breadcrumb">
        <li>
          <p>Administração >> </p>
        </li>
        <li><%= link_to "Premios", premios_path %> <span class="divider"></span></li>
        <li><%= link_to "Noticias", noticias_path %> <span class="divider"></span></li>
        <li><%= link_to "Eventos", eventos_path %> <span class="divider"></span></li>
        <li><%= link_to "Galerias", galerias_path %> <span class="divider"></span></li>
        <li><%= link_to "Parceiros", parceiros_path %> <span class="divider"></span></li>
      </ul>
    </div>
    <div class="col-md-2 column">
      <%= link_to image_tag("/assets/logout_black.png", height: "48px", width: "48px", title: "Sair", alt: "Logout"), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    </div>
  </div>
</div>